<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-product-heading" data-cy="ProductCreateUpdateHeading" jhiTranslate="restaurantApp.product.home.createOrEditLabel">
        Create or edit a Product
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantApp.product.productCode" for="field_productCode">Product Code</label>
          <input
            type="text"
            class="form-control"
            name="productCode"
            id="field_productCode"
            data-cy="productCode"
            formControlName="productCode"
          />
          <div *ngIf="editForm.get('productCode')!.invalid && (editForm.get('productCode')!.dirty || editForm.get('productCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productCode')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 20 }"
              >This field cannot be longer than 20 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantApp.product.productName" for="field_productName">Product Name</label>
          <input
            type="text"
            class="form-control"
            name="productName"
            id="field_productName"
            data-cy="productName"
            formControlName="productName"
          />
          <div *ngIf="editForm.get('productName')!.invalid && (editForm.get('productName')!.dirty || editForm.get('productName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productName')?.errors?.required"
              jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productName')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
              >This field cannot be longer than 255 characters.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantApp.product.imageURL" for="field_imageURL">Image URL</label>
          <input type="text" class="form-control" name="imageURL" id="field_imageURL" data-cy="imageURL" formControlName="imageURL" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantApp.product.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantApp.product.status" for="field_status">Status</label>
          <input type="number" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required"
              >This field is required.</small
            >
            <small class="form-text text-danger" [hidden]="!editForm.get('status')?.errors?.number" jhiTranslate="entity.validation.number"
              >This field should be a number.</small
            >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantApp.product.menuType" for="field_menuType">Menu Type</label>
          <select
            class="form-control"
            id="field_menuType"
            data-cy="menuType"
            name="menuType"
            formControlName="menuType"
            [compareWith]="compareMenuType"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="menuTypeOption" *ngFor="let menuTypeOption of menuTypesSharedCollection">{{ menuTypeOption.id }}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="restaurantApp.product.category" for="field_category">Category</label>
          <select
            class="form-control"
            id="field_category"
            data-cy="category"
            name="category"
            formControlName="category"
            [compareWith]="compareCategory"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="categoryOption" *ngFor="let categoryOption of categoriesSharedCollection">{{ categoryOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
