@import 'bootstrap/scss/functions';
@import 'bootswatch/dist/united/variables';
@import 'bootstrap/scss/variables';

.main-layout {
  display: flex;

  &.collapsed .sidemenu-container {
    display: none;
  }

  &.collapsed .content-container {
    margin-left: 0;
  }
}

.toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background: #0056b3;
  }
}

.sidemenu-container {
  width: 250px; /* Adjust width as needed */
  background-color: $success; // #f8f9fa; /* Example background color */
  border-right: 1px solid #dee2e6; /* Example border */
  padding: 0;
}

.content-container {
  flex: 1;
  padding: 15px; /* Adjust padding as needed */
}

/* Additional styles to ensure proper display */
.jh-card {
  margin-bottom: 20px; /* Adjust margin as needed */
}

jhi-footer {
  margin-top: 20px; /* Adjust margin as needed */
}
